<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDbrLCOQEhQrA7W0KSDD4HbPzlIUcUHlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>386908666811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wingedwords</string>
	<key>PROJECT_ID</key>
	<string>wingedwordsadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>wingedwordsadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386908666811:ios:cd83c5a5a039ac4bc1229e</string>
</dict>
</plist>